body {
    font-family: Arial;
    text-align: center;
    margin: 0;
}

/* ハンバーガー */

.menu-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
    z-index: 10000;
}
/*
.leaflet-control {
    z-index: 500;
}
*/
.leaflet-pane {
    z-index: 100 !important;
}
``


/* メニュー */

.menu {
    position: fixed;
    top: 0;
    left: -220px;
    width: 220px;
    height: 100%;
    background-color: #444;  /* ← 半透明やめる */
    transition: left 0.3s;

    z-index: 9999;

    display: flex;              /* ← これ重要 */
    flex-direction: column;
}
/* メニューの中身 */

.menu a {
    color: white;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid #666;

    display: block;   /* ← 忘れると消える */
}

/* ホバー */
.menu a:hover {
    background-color: #666;
}
.menu.open {
    left: 0;
}

/* 地図 */

#map {
    height: 700px;
    width: 90%;
    margin: auto;
    border: 2px solid black;
    position: relative;
    z-index: 1;
}

/* 結果 */
#result {
    margin-top: 20px;
    font-size: 18px;
    color: blue;
}

/* 座標 */
#coords{
    display:inline-block;
    border:2px solid #333;
    padding:5px 10px;
}

/* スタートボタン */
.start-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: green;
    color: white;
    text-decoration: none;
}
``
